h1{
    color: #01347C;
    font-weight: bolder;
    font-size: 35px;
}

#ids{
    display: none;
}

.card-body {
    padding: 1rem;
    color: #343536;
}
.card-title {
    font-size: 1.1rem; 
}

.card-text {
    font-size: 0.9rem; 
}
.card:hover {
    transform: scale(1.05);
}

#delete:hover {
    transform: scale(1.05);
    background-color: red;
}

#edit:hover {
    transform: scale(1.05);
    background-color: rgb(255, 189, 6);
}

.btn {
    transition: transform 0.3s ease, background-color 0.3s ease; 
}

.btn:hover {
    transform: scale(1.05);
}
.btn {
    font-size: 0.85rem;
    background-color: #01347C;
    color: whitesmoke;
    border: none;
}